<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- <link rel="stylesheet" href="assets/bootstrap-5.1.0-dist/css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- <script src="jquery-3.6.0.slim.js"></script> -->


    <link rel="stylesheet" href="assets/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
</head>

<body id="app" class="container-fluid p-0">
    <div class="page1">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand offset-1 bold text-white" href="">LOGO</a>
            <button class="navbar-toggler bg-warning me-4" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
            </button>

            <div class="collapse navbar-collapse offset-xl-1" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-link active ms-3" href="">HOME</a>
                    <a class="nav-link ms-3" href="">WORK</a>
                    <a class="nav-link ms-3" href="">CONTACT</a>
                    <a class="nav-link ms-3" href="">ABOUT ME</a>
                </div>
                <div class="navbar-nav offset-xl-4 offset-lg-3">
                    <a class="nav-link ms-3" href="">SIGN UP</a>
                    <a class="nav-link ms-3" href="">LOGIN</a>
                </div>
            </div>
        </nav>

        <div class="row h-75 m-0">
            <div class="text-center my-auto">
                <h1 class="text-white judul letter-space">PLAY TRADITIONAL GAME</h1>
                <p class="text-white sub-judul letter-space">Experience new traditional game play</p>
                <button class="btn btn-warning bold">PLAY NOW</button>
            </div>
        </div>

        <div class="m-0 mt-3 text-center">
            <a class="link text-uppercase text-white bold" href="">
                <span class="m-0 offset-6 ">the story</span>
                <!-- <span class="d-block">&#9661;</span> -->
            </a>
            <p class="m-0"><a class="link text-white bold" href="">&#9661;</a></p>
        </div>
    </div>

    <div id="page2">
        <div class="row m-0">
            <div class="col-lg col-lg-5 align-self-lg-start">
                <p class="text-white sub-judul-size letter-space">What’s so special?</p>
                <h1 class="text-white judul letter-space">THE GAMES</h1>
            </div>

            <div class="col-lg p-0 align-self-center">
                <div id="carouselExampleIndicators" class="carousel slide mx-auto" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div :class="'carousel-item '+ (index==0?'active': '')"
                            :style="'background-image: url('+item+');'" v-for="(item, index) of carouselImg">

                        </div>
                        <!-- <div class="carousel-item">
                            <img src="assets/bg-image2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/requirements.png" class="d-block w-100" alt="...">
                        </div> -->
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div id="page3" class="">

        <div class="h-100 bg-opacity">
            <div class="offset-lg-6 p-0 text-white">
                <p class="sub-judul-size letter-space">What’s so special?</p>
                <h1 class="judul letter-space">FEATURES</h1>
            </div>

            <div class="offset-lg-6 d-flex">
                <span id="vr" :class="{vr:true, 'text-white':true}"></span>

                <ul class="text-white">
                    <li class="mb-5" v-for="(item, index) of features">
                        <span :class="{'circle': true, 'bg-white':item.active}"></span>
                        <a class="link" type="button" @click="whiteCircle(index)" data-bs-toggle="collapse"
                            :data-bs-target="'#' + item.id" aria-expanded="false" aria-controls="collapseExample">
                            <h3 class="text-warning letter-space">{{item.judul}}</h3>
                        </a>
                        <p v-if="index != 0" class="collapse letter-space" :id="item.id">{{item.isi}}</p>
                        <p v-else class="letter-space">{{item.isi}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="page4" class="">
        <div class="text-white text-center bg-black h-100 bg-opacity-50">
            <p class="text-center py-5 letter-space">Can My Computer Run this game?</p>

            <div class="text-center text-sm-start offset-sm-1">
                <h1 class="letter-space">SYSTEM</h1>
                <h1 class="letter-space">REQUIREMENTS</h1>

                <table class="d-none d-sm-table table table-bordered text-white">
                    <tbody>
                        <tr>
                            <td>
                                <h3 class="text-warning">OS:</h3>
                                <p>Windows 7 64-bit only</p>
                                <p>(No OSX support at this time)</p>
                            </td>
                            <td>
                                <h3 class="text-warning">PROCESSOR:</h3>
                                <p>Intel Core 2 Duo @ 2.4 GHZ or </p>
                                <p>AMD Athlon X2 @ 2.8 GHZ</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h3 class="text-warning">MEMORY:</h3>
                                <p>4 GB RAM</p>
                            </td>
                            <td>
                                <h3 class="text-warning">STORAGE:</h3>
                                <p>8 GB available space</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h3 class="text-warning">GRAPHICS:</h3>
                                <p>NVIDIA GeForce GTX 660 2GB or </p>
                                <p class="">AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="x-smal">
                <div>
                    <h3 class="text-warning">OS:</h3>
                    <p>Windows 7 64-bit only</p>
                    <p>(No OSX support at this time)</p>
                </div>
                <div>
                    <h3 class="text-warning">PROCESSOR:</h3>
                    <p>Intel Core 2 Duo @ 2.4 GHZ or </p>
                    <p>AMD Athlon X2 @ 2.8 GHZ</p>
                </div>

                <div>
                    <h3 class="text-warning">MEMORY:</h3>
                    <p>4 GB RAM</p>
                </div>
                <div>
                    <h3 class="text-warning">STORAGE:</h3>
                    <p>8 GB available space</p>
                </div>
                <div>
                    <h3 class="text-warning">GRAPHICS:</h3>
                    <p>NVIDIA GeForce GTX 660 2GB or </p>
                    <p class="m-0">AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                </div>
            </div>

        </div>
    </div>

    <div id="page5" class="">
        <div class="row m-0 text-white h-100">
            <div class="text-center text-lg-start col-lg-5 my-auto offset-lg-1">
                <h1 class="judul">TOP SCORES</h1>
                <p class="letter-space my-4 my-lg-5">This top score from various games provided on this platform</p>
                <button class="btn btn-warning bold"> see more</button>
            </div>

            <div class=" col-lg-5 my-lg-auto">
                <div class="d-none d-xl-block">
                    <div v-for="(item, index) of card">
                        <div :class="'card bg-abu w-75 pt-3 ' + (index==0?'offset-4':'') + (index==2?'offset-3':'') ">
                            <div class="row m-0">
                                <div class="col-1 bg-profile bg-warning">
                                    <div class="profile-circle" :style="'background:url('+item.img+') no-repeat'"></div>
                                </div>
                                <div class="col ms-3">
                                    <p class="m-0 text-warning">{{item.name}}</p>
                                    <p class="m-0 text-muted">{{item.work}}</p>
                                </div>
                                <span class="col text-end"><a :href="item.twitter"><i
                                            class="fab fa-twitter"></i></a></span>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{item.message}}</p>
                                <p class="card-text"><small class="text-muted">{{item.date}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="carouselExampleFade" class="d-inline d-xl-none carousel slide carousel-fade"
                    data-bs-ride="carousel">
                    <div class="carousel-inner mx-auto">
                        <div :class="'carousel-item '+ (index==0?'active': '')" v-for="(item, index) of card">
                            <div class="card bg-abu pt-3">
                                <div class="row m-0">
                                    <div class="col-1 bg-profile bg-warning">
                                        <div class="profile-circle" :style="'background:url('+item.img+') no-repeat'">
                                        </div>
                                    </div>
                                    <div class="col ms-3 d-flex justify-content-between">
                                        <div>
                                            <p class="m-0 text-warning">{{item.name}}</p>
                                            <p class="m-0 text-muted">{{item.work}}</p>
                                        </div>

                                        <span class="text-end"><a :href="item.twitter"><i
                                                    class="fab fa-twitter"></i></a></span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{item.message}}</p>
                                        <p class="card-text"><small class="text-muted">{{item.date}}</small></p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev my-auto" type="button"
                            data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next my-auto" type="button"
                            data-bs-target="#carouselExampleFade" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="page6" class="">
        <div class="row m-0 jarak-atas text-white">
            <div class="col-6 my-auto text-center skull" style="background-image: url(assets/skull2.png);">
            </div>

            <div class="col-sm-5 my-auto">
                <p class="sub-judul-size">Want to stay in</p>
                <p class="sub-judul-size">touch?</p>

                <h1 class="judul">NEWSLETTER SUBSCRIBE</h1>
                <P>In order to start receiving our news, all you have to do is enter your email address.
                    Everything else will be taken care of by us.
                    We will send you emails containing information about game. We don’t spam.</P>

                <div class="input-group mb-3 mt-5">
                    <div class="form-floating mb-3 bg-abu">
                        <input type="email" class="form-control text-warning" id="floatingInput"
                            placeholder="name@example.com">
                        <label class="text-muted" for="floatingInput">Your email address</label>
                    </div>
                    <button class="btn bg-warning p-0 fw-bold" type="button">Subscribe now</button>
                </div>
            </div>
        </div>

        <footer class="row m-0 row-cols-auto">
            <div class="border-footer offset-lg-1 mb-3 mx-auto">
                <div class="navbar navbar-expand-lg p-0 justify-content-end flex-column flex-lg-row">
                    <nav class="navbar-nav ">
                        <a class="nav-link mx-xl-4" :href="item.link" V-FOR="item of navFooter">{{item.name}}</a>
                    </nav>

                    <nav class="navbar-nav float-right">
                        <a :class="'nav-link p-0' + (index != sosmed.length-1 ? 'mx-lg-3 mx-xl-4':'ms-xl-4')"
                            :href="item.link" v-for="(item, index) of sosmed" v-html="item.icon"></a>
                    </nav>
                </div>
            </div>
            <div class="offset-lg-1 width-policy mx-auto">
                <div class="d-flex flex-column-reverse flex-lg-row justify-content-lg-between">
                    <p class="text-white my-lg-auto text-muted text-center"> © 2018 Your Games, Inc. All Rights Reserved
                    </p>
                    <div class="navba navbar-expand-lg">
                        <nav class="navbar-nav text-center text-sm-start flex-row justify-content-center pt-1">
                            <a :class="'nav-link '+(index!=footerPolicy.length -1 ? 'border-end px-2':'ps-2')"
                                :href="item.link" v-for="(item, index) of footerPolicy">{{item.name}}</a>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>

    </div>


    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <!-- <script src="assets/bootstrap-5.1.0-dist/js/bootstrap.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="javascript.js"></script>
</body>

</html>